# Ignorer les fichiers d'environnement
.env

# Ignorer les fichiers de configuration de Docker
docker-compose.override.yml

# Ignorer les fichiers de connexion à la base de données (ajoutez le nom du fichier contenant vos identifiants si nécessaire)
db_credentials.php

# Ignorer les fichiers de logs
*.log

# Ignorer les fichiers temporaires et de sauvegarde
*.tmp
*.bak
*.swp

# Ignorer les fichiers de cache et de session
cache/
session/

# Ignorer les fichiers de configuration de l'éditeur
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Ignorer les fichiers générés par Composer
/vendor/

# Ignorer les fichiers générés par Node.js (si applicable)
node_modules/

# Ignorer les fichiers générés par PHPStorm/IntelliJ IDEA (si applicable)
*.iml
.idea/

# Ignorer les fichiers spécifiques à MacOS
.DS_Store
